<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href = "../style/bmrcalc.css">
    
    
    <title>Caloric Balance</title>
</head>
<body>
    <nav>
        <div class="nav-links">
            <ul>
                <li><a href="fitapp.html">Home</a></li>
                <li><a href="">BMI</a></li>
                <li><a href="">Food</a></li>
                <li><a href="">Training</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </nav>
    <section class="calculator">
        
        <h2>Count your Caloric Balance</h2>
        <div class="ankieta">

            <div class="textinfo">

                <label for="age">Age</label>
                <input type="text" id="age" name="age">
                <label for="height">Height</label>
                <input type="text" id="height" name="height">
                <label for="weight">Weight</label>
                <input type="text" id="weight" name="weight">
            </div>

            <div class="chosesex">
                
                <input type="radio" name="sexname" id="male">
                <label for="male">Male</label>
                <input type="radio" name="sexname" id="female">
                <label for="female">Female</label>
            </div>
            <div class="submit">
                <button type="submit" onclick="calcBMR();">
                    Calculate
                </button>
            </div>
            <div>
            <p class="brn">You burn</p>
            <p class="scoreclass">
                <input readonly id="score">
            </p>
            <p class="brnd">kcal per day!</p>
            
                
            </div>

        </div>
    </section>
    
</body>