<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../scripts/countFood.js" async></script>
    <link rel="stylesheet" type="text/css" href = "../style/foodCount.css">

    <title>Count your food</title>
</head>

<body>
    <section class="foodCount-section">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">BMI</a></li>
                    <li><a href="">Food</a></li>
                    <li><a href="">Training</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </nav>
    </section>
    

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <input type="text" id="searchInput" placeholder="Type name.." class="form-control"
                    onkeyup="searchFunElements()">
            </div>
        </div>
    </div>
    
    <div class="foodCards" id="foodCards">

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Water</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">0</span></p>
                    <p>protein/100g: <span class="protein">0</span></p>
                    <p>carbs/100g: <span class="carbs">0</span></p>
                    <p>fat/100g: <span class="fats">0</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Chicken</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">246</span></p>
                    <p>protein/100g: <span class="protein">30</span></p>
                    <p>carbs/100g: <span class="carbs">1,8</span></p>
                    <p>fat/100g: <span class="fats">12</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Rice</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">130</span></p>
                    <p>protein/100g: <span class="protein">2,7</span></p>
                    <p>carbs/100g: <span class="carbs">28</span></p>
                    <p>fat/100g: <span class="fats">0,3</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Sauce</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">78</span></p>
                    <p>protein/100g: <span class="protein">1</span></p>
                    <p>carbs/100g: <span class="carbs">18</span></p>
                    <p>fat/100g: <span class="fats">1</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>
        
        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Water</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">0</span></p>
                    <p>protein/100g: <span class="protein">0</span></p>
                    <p>carbs/100g: <span class="carbs">0</span></p>
                    <p>fat/100g: <span class="fats">0</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Water</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">0</span></p>
                    <p>protein/100g: <span class="protein">0</span></p>
                    <p>carbs/100g: <span class="carbs">0</span></p>
                    <p>fat/100g: <span class="fats">0</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Water</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">0</span></p>
                    <p>protein/100g: <span class="protein">0</span></p>
                    <p>carbs/100g: <span class="carbs">0</span></p>
                    <p>fat/100g: <span class="fats">0</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Water</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">0</span></p>
                    <p>protein/100g: <span class="protein">0</span></p>
                    <p>carbs/100g: <span class="carbs">0</span></p>
                    <p>fat/100g: <span class="fats">0</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="inner-card">
                <div class="card-front">
                    <img src="../images/water.jpg">
                    <h4><b>Water</b></h4>
                </div>
                <div class="card-back">
                    <p>kcal/100g: <span class="kcal">0</span></p>
                    <p>protein/100g: <span class="protein">0</span></p>
                    <p>carbs/100g: <span class="carbs">0</span></p>
                    <p>fat/100g: <span class="fats">0</span></p>
                    <button class="btnAdd">Add</button>
                </div>
            </div>
        </div>

        

    </div>

</body>

</html>