<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../scripts/countFood.js" async></script>
    <link rel="stylesheet" type="text/css" href = "../style/foodCount.css">

    <title>Count your food</title>
</head>

<body>
    <section class="foodCount-section">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="fitapp.html">Home</a></li>
                    <li><a href="">BMI</a></li>
                    <li><a href="">Food</a></li>
                    <li><a href="">Training</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </nav>
    </section>
    

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <input type="text" id="searchInput" placeholder="Type name.." class="form-control"
                    onkeyup="searchFunTable()">
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-8">
            <table id="foodTable" style="width: 100%;">
                <thead>
                    <th>Name</th>
                    <th>kcal/100g</th>
                    <th>Proteins</th>
                    <th>Carbs</th>
                    <th>Fat</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Water</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Chicken</td>
                        <td>246</td>
                        <td>30</td>
                        <td>1,8</td>
                        <td>12</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Rice</td>
                        <td>130</td>
                        <td>2,7</td>
                        <td>28</td>
                        <td>0,3</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Rice Sauce</td>
                        <td>78</td>
                        <td>1</td>
                        <td>18</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="col-4">
            <table id="dietTable" style="width: 100%;">
                <thead>
                    <th>Name</th>
                    <th>kcal/100g</th>
                    <th>Proteins</th>
                    <th>Carbs</th>
                    <th>Fat</th>
                    <th></th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

    
    
</body>

</html>