<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piętka</title>
    <link rel="stylesheet" href="../style/mainstyle.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="name">
                <li><h3>Daniel Piętka</h2></li>
                <li><img src="../images/logo.png" alt="logo"></li>
            </div>
            <div class="nav-menu">
                <li>
                    <div class="subnav">
                        <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
                        <div class="subnav-content">
                            <a href="#company">Company</a>
                            <a href="#team">Team</a>
                            <a href="#careers">Careers</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">Contact</a></li>
            </div>
        </div>
    </header>


</body>
</html>